/* style.css */

body {
    font-family:  Verdana, 'Times New Roman', Times, serif;
    margin: 0;
}

.section_one{
    background-color: #1f2937;
    padding: 15px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.logo{
    font-size: 24px;
    color: #f9faf8;
}

.links {
    font-size: 18px;
    color: #e5e7eb;
}

.upper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lower {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
    gap: 25px;
}

ul {
    display: flex;
    list-style-type : none;
    gap: 10px
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
    gap: 10px;
}

.placeholder {
    flex: 1;
    text-align: center;
    height: 200px;
    background-color: grey;

}


.main_text{
    font-size: 48px;
    color: #f9faf8;
    font-weight: bold
}

.secondary_text {
    font-size: 18px;
    color: #e5e7eb;
}

.section_two{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

#info {
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
}

.images {
    display: flex;
    justify-content: center;  
    gap: 50px;
    margin-top: 50px;

}

.img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    gap: 15px;


}

.box {
    display: flex;
    border: 4px solid skyblue;
    border-radius: 25px;
    height: 100px;
    width: 150px;
}

.section_three {
    display: flex;
    background-color: #e5e7eb;
    height: 200px;
    flex-direction: column;
    padding: 50px;
}

.quote{
    align-self: center;
    width: 1200px;
    font-size: 36px;
    font-style: italic;
    font-weight: 100 ;
    color: #1F2937;
}

.author {
    width: 800px;
    text-align: end;
    align-self: center;
}

.footer {
    background-color: #1f2937;
    font-size: 24px;
    color: #f9faf8;
    text-align: center;
    height: 100px;
}

.copyright {

    padding: 33px;
}