/* style.css */

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.section_one{
    background-color: #1f2937;
    padding: 0px 50px;
}

.logo{
    font-size: 24px;
    color: #f9faf8;
}

.links {
    font-size: 18px;
    color: #e5e7eb;
}

.upper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lower {
    display: flex;
    justify-content: center;
    margin: 10px;
    padding-bottom: 50px;
}

ul {
    display: flex;
    list-style-type : none;
    gap: 10px
}

.hero {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.placeholder {
    flex: 1;
}

.main_text{
    font-size: 48px;
    color: #f9faf8;
    font-weight: bold
}

.secondary_text {
    font-size: 18px;
    color: #e5e7eb;
}